html{
	scroll-behavior: smooth;
}
body{
	background: url(../imagens/background_repetitivo.jpg);
	max-width: 2000px;
	height: 1000px;
	margin: 0 auto;
}
.bodypage{
	margin-top: 150px;
	padding: 50px;
}

#whatsapp{
	width: 120px;
	padding: 10px;
	display: inline-block;
}
h1{
	color: rgb(235, 150, 221);
}
h3{
	margin-top: -23px;
	color: rgb(235, 150, 221);
}
h6{
	margin-top: -30px;
	color: rgb(235, 150, 221)
}
.coracao{
	width: 40px;
}

footer{
	background-color: rgb(235, 150, 221);
	height: 110px;
	position:sticky;
	max-width: 2000px;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}
img{
	max-width: 100%;
}

.imgcarousel img{
	 -webkit-transition: all 0.7s ease;
 	transition: all 0.7s ease;
	 filter: drop-shadow(2px 4px 8px);
	 border-radius: 10px;
 }
.imgcarousel img:hover {
	 -webkit-transform: scale(1.1);
	 transform: scale(1.1);
 }


.bloco img {
	filter: drop-shadow(2px 4px 8px);
	height: 300px;
	width: 300px;
	border-radius: 10px;
}

.imgcard{
	display: flex;
	justify-content: center;
	transform-style: preserve-3d;
	transition: all .5s;
	position: relative;
}

.front-face,
.back-face{
	height: 300px;
	width: 300px;
	display: flex;
	position: absolute;
	border: solid rgb(235, 150, 221) 1px;
	border-radius: 10px;
	cursor: pointer;
}
.front-face{
	transform: rotateY(180deg);
}
.back-face{
	background-color: white; 
	backface-visibility: hidden; 
	opacity: 0.8;
}

.imgcard.flip{
	transform: rotateY(180deg);
}
.legendasbolos{
	color: rgb(235, 150, 221);
	padding: 10px;
	font-size: 22px;
}